<a href="https://colab.research.google.com/github/vishnudk/python-projects-for-beginners/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
labels=['a','b','c']
my_list=[1,2,3]
ar=np.array([1,2,3])
print(ar)
d={'a':1,'b':2,'c':3}
print(pd.Series(data=my_list)) #using list
print("        ")
print(pd.Series(ar))#using numpy array
print(" ")
print(pd.Series(data=my_list,index=labels))
print(" ")
print(pd.Series(my_list,labels))
print(" ")
print(pd.Series(ar))
print(" ")
print(pd.Series(ar,labels))#using numpy array
print(" ")
print(pd.Series(d))#using dictionary

[1 2 3]
0    1
1    2
2    3
dtype: int64

0    1
1    2
2    3
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

0    1
1    2
2    3
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

making data frame

In [0]:
ser1=pd.Series([1,2,3,4],index=['usa','germany','ussr','japan'])
print(ser1)
ser2=pd.Series([1,2,3,4],index=['usa','germany','ussr','japan'])
ser2
ser2['germany']

usa        1
germany    2
ussr       3
japan      4
dtype: int64

2

In [0]:
df=pd.DataFrame({'Company':['goog','fb','hp',np.nan],'Sales':[np.nan,2000,3000,4000]})
print(df.groupby('Company'))
#print(df.describe())
print(df.isnull())
print(df.dropna())
df.fillna('fill')
#df.describe().transpose()['goog']

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f5e269e08d0>
   Company  Sales
0    False   True
1    False  False
2    False  False
3     True  False
  Company   Sales
1      fb  2000.0
2      hp  3000.0

  Company Sales
0    goog  fill
1      fb  2000
2      hp  3000
3    fill  4000

In [0]:
pd.concat([df1,df2,df3])
pd.concat([df1,df2,df3,df4])

common operations in pandas

In [0]:
left=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':['abc','cdf','ghj','dfg']})
print(left.head())
print(left.describe())
#print(left.describe().transpose()['abc'])
print(left['A'].unique())
print(left['A'].nunique())
#custom funtions
def time2x(s):
  return 2*s
del left['A']
print(left.head())

   A  B    C
0  1  5  abc
1  2  6  cdf
2  3  7  ghj
3  4  8  dfg
              A         B
count  4.000000  4.000000
mean   2.500000  6.500000
std    1.290994  1.290994
min    1.000000  5.000000
25%    1.750000  5.750000
50%    2.500000  6.500000
75%    3.250000  7.250000
max    4.000000  8.000000
[1 2 3 4]
4
   B    C
0  5  abc
1  6  cdf
2  7  ghj
3  8  dfg

pandas can be used to merge and join diffrent dataframe